#
# pin constraints
#
NET GCLK LOC = "L15"  |  IOSTANDARD = "LVCMOS33";
NET RESET LOC = "T15"  |  IOSTANDARD = "LVCMOS33"  |  TIG;
NET RS232_Uart_1_sin LOC = "A16"  |  IOSTANDARD = "LVCMOS33";
NET RS232_Uart_1_sout LOC = "B16"  |  IOSTANDARD = "LVCMOS33";
NET rzq IOSTANDARD = "LVCMOS18_JEDEC";
NET zio IOSTANDARD = "LVCMOS18_JEDEC";

# SPI over PMOD to SD Card
NET axi_spi_0_SCK_pin LOC = "R3" | IOSTANDARD = "LVCMOS33";
NET axi_spi_0_MISO_pin LOC = "N5" | IOSTANDARD = "LVCMOS33";
NET axi_spi_0_MOSI_pin LOC = "P6" | IOSTANDARD = "LVCMOS33";
NET axi_spi_0_SS_pin LOC = "T3" | IOSTANDARD = "LVCMOS33";

#
# additional constraints
#

NET "GCLK" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;